In [ ]:


#importing the libraries and datasets that are required for this task 
import numpy as np
import csv as csv
import pandas as pd



diabetes  = pd.read_csv('./DataSets/diabetes.csv')
heart = pd.read_csv('./DataSets/heart.csv')

stroke = pd.read_csv('./DataSets/stroke-dataset.csv')

The cells underneath are used to check if the imports are proper and we use .describe to check the data and how it looks in rows and coloumn format

In [10]:
print("diabetes data")
diabetes = diabetes.astype('float32')

diabetes.describe()

diabetes data

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536459,79.799477,31.992609,0.471876,33.240887,0.348958
std,3.369585,31.972626,19.355766,15.952238,115.244026,7.884162,0.331329,11.760229,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.299999,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.599998,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.099998,2.420000,81.000000,1.000000

In [11]:

print("heart data")
heart = heart.astype('float32')
heart.describe()

heart data

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,ca,thal
count,302.000000,302.000000,302.000000,302.000000,302.00000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000
mean,54.420528,0.682119,0.963576,131.602646,246.50000,0.149007,0.526490,149.569534,0.327815,1.043046,0.718543,2.314569
std,9.047971,0.466425,1.032043,17.563396,51.75349,0.356686,0.526027,22.903526,0.470196,1.161453,1.006749,0.613026
min,29.000000,0.000000,0.000000,94.000000,126.00000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000
25%,48.000000,0.000000,0.000000,120.000000,211.00000,0.000000,0.000000,133.250000,0.000000,0.000000,0.000000,2.000000
50%,55.500000,1.000000,1.000000,130.000000,240.50000,0.000000,1.000000,152.500000,0.000000,0.800000,0.000000,2.000000
75%,61.000000,1.000000,2.000000,140.000000,274.75000,0.000000,1.000000,166.000000,1.000000,1.600000,1.000000,3.000000
max,77.000000,1.000000,3.000000,200.000000,564.00000,1.000000,2.000000,202.000000,1.000000,6.200000,4.000000,3.000000

In [13]:
print("stroke data")

stroke.describe()

stroke data

,id,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke
count,5110.000000,5110.000000,5110.000000,5110.000000,5110.000000,4909.000000,5110.000000
mean,36517.829354,43.226614,0.097456,0.054012,106.147677,28.893237,0.048728
std,21161.721625,22.612647,0.296607,0.226063,45.283560,7.854067,0.215320
min,67.000000,0.080000,0.000000,0.000000,55.120000,10.300000,0.000000
25%,17741.250000,25.000000,0.000000,0.000000,77.245000,23.500000,0.000000
50%,36932.000000,45.000000,0.000000,0.000000,91.885000,28.100000,0.000000
75%,54682.000000,61.000000,0.000000,0.000000,114.090000,33.100000,0.000000
max,72940.000000,82.000000,1.000000,1.000000,271.740000,97.600000,1.000000

as for now we have just imported the data next we will filter out symptoms and make the data imported overall cleaner and train a Neural Network using the tensorflow library