In [1]:


#importing the libraries and datasets that are required for this task 
import numpy as np
import csv as csv
import pandas as pd



diabetes  = pd.read_csv('./DataSets/diabetes.csv')
heart = pd.read_csv('./DataSets/heart.csv')

stroke = pd.read_csv('./DataSets/stroke-dataset.csv')

The cells underneath are used to check if the imports are proper and we use .describe to check the data and how it looks in rows and coloumn format

In [2]:
print("diabetes data")
diabetes = diabetes.astype('float32')

diabetes.describe()

diabetes data

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536459,79.799477,31.992609,0.471876,33.240887,0.348958
std,3.369585,31.972626,19.355766,15.952238,115.244026,7.884162,0.331329,11.760229,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.299999,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.599998,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.099998,2.420000,81.000000,1.000000

In [3]:

print("heart data")
heart = heart.astype('float32')
heart.describe()

heart data

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,ca,thal
count,302.000000,302.000000,302.000000,302.000000,302.00000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000
mean,54.420528,0.682119,0.963576,131.602646,246.50000,0.149007,0.526490,149.569534,0.327815,1.043046,0.718543,2.314569
std,9.047971,0.466425,1.032043,17.563396,51.75349,0.356686,0.526027,22.903526,0.470196,1.161453,1.006749,0.613026
min,29.000000,0.000000,0.000000,94.000000,126.00000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000
25%,48.000000,0.000000,0.000000,120.000000,211.00000,0.000000,0.000000,133.250000,0.000000,0.000000,0.000000,2.000000
50%,55.500000,1.000000,1.000000,130.000000,240.50000,0.000000,1.000000,152.500000,0.000000,0.800000,0.000000,2.000000
75%,61.000000,1.000000,2.000000,140.000000,274.75000,0.000000,1.000000,166.000000,1.000000,1.600000,1.000000,3.000000
max,77.000000,1.000000,3.000000,200.000000,564.00000,1.000000,2.000000,202.000000,1.000000,6.200000,4.000000,3.000000

In [4]:
print("stroke data")

stroke.describe()

stroke data

,id,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke
count,5110.000000,5110.000000,5110.000000,5110.000000,5110.000000,4909.000000,5110.000000
mean,36517.829354,43.226614,0.097456,0.054012,106.147677,28.893237,0.048728
std,21161.721625,22.612647,0.296607,0.226063,45.283560,7.854067,0.215320
min,67.000000,0.080000,0.000000,0.000000,55.120000,10.300000,0.000000
25%,17741.250000,25.000000,0.000000,0.000000,77.245000,23.500000,0.000000
50%,36932.000000,45.000000,0.000000,0.000000,91.885000,28.100000,0.000000
75%,54682.000000,61.000000,0.000000,0.000000,114.090000,33.100000,0.000000
max,72940.000000,82.000000,1.000000,1.000000,271.740000,97.600000,1.000000

as for now we have just imported the data next we will filter out symptoms and make the data imported overall cleaner and train a Neural Network using the tensorflow library

In [5]:
#converting the data we imported from our csv to a numpy array

stroke = stroke.to_numpy()
diabetes = diabetes.to_numpy()
heart = heart.to_numpy()

stroke.shape
diabetes.shape
heart.shape

(302, 12)

In [6]:
#now we will be splitting our data into training and testing data

stroke_train = stroke[0:300]
stroke_test = stroke[300:]

diabetes_train = diabetes[0:300]
diabetes_test = diabetes[300:]

heart_train = heart[0:300]
heart_test = heart[300:]

In [7]:
# now we will print the training and the testing data

print("stroke training data")
print(stroke_train)
print("stroke testing data")
print(stroke_test)
print("diabetes training data")
print(diabetes_train)
print("diabetes testing data")
print(diabetes_test)
print("heart training data")
print(heart_train)
print("heart testing data")
print(heart_test)

stroke training data
[[9046 'Male' 67.0 ... 36.6 'formerly smoked' 1]
 [51676 'Female' 61.0 ... nan 'never smoked' 1]
 [31112 'Male' 80.0 ... 32.5 'never smoked' 1]
 ...
 [67318 'Male' 58.0 ... 26.8 'smokes' 0]
 [28526 'Male' 69.0 ... 33.6 'never smoked' 0]
 [8831 'Female' 58.0 ... 29.1 'Unknown' 0]]
stroke testing data
[[65199 'Female' 53.0 ... 28.5 'Unknown' 0]
 [43454 'Female' 78.0 ... 34.9 'formerly smoked' 0]
 [7282 'Male' 44.0 ... 25.1 'never smoked' 0]
 ...
 [19723 'Female' 35.0 ... 30.6 'never smoked' 0]
 [37544 'Male' 51.0 ... 25.6 'formerly smoked' 0]
 [44679 'Female' 44.0 ... 26.2 'Unknown' 0]]
diabetes training data
[[  6.    148.     72.    ...   0.627  50.      1.   ]
 [  1.     85.     66.    ...   0.351  31.      0.   ]
 [  8.    183.     64.    ...   0.672  32.      1.   ]
 ...
 [  0.    126.     84.    ...   0.52   24.      0.   ]
 [ 14.    100.     78.    ...   0.412  46.      1.   ]
 [  8.    112.     72.    ...   0.84   58.      0.   ]]
diabetes testing data
[[0.00e+00 1.67e+02 0.00e+00 ... 8.39e-01 3.00e+01 1.00e+00]
 [2.00e+00 1.44e+02 5.80e+01 ... 4.22e-01 2.50e+01 1.00e+00]
 [5.00e+00 7.70e+01 8.20e+01 ... 1.56e-01 3.50e+01 0.00e+00]
 ...
 [5.00e+00 1.21e+02 7.20e+01 ... 2.45e-01 3.00e+01 0.00e+00]
 [1.00e+00 1.26e+02 6.00e+01 ... 3.49e-01 4.70e+01 1.00e+00]
 [1.00e+00 9.30e+01 7.00e+01 ... 3.15e-01 2.30e+01 0.00e+00]]
heart training data
[[63.   1.   3.  ...  2.3  0.   1. ]
 [37.   1.   2.  ...  3.5  0.   2. ]
 [41.   0.   1.  ...  1.4  0.   2. ]
 ...
 [57.   0.   0.  ...  0.2  0.   3. ]
 [45.   1.   3.  ...  1.2  0.   3. ]
 [68.   1.   0.  ...  3.4  2.   3. ]]
heart testing data
[[ 57.    1.    0.  130.  131.    0.    1.  115.    1.    1.2   1.    3. ]
 [ 57.    0.    1.  130.  236.    0.    0.  174.    0.    0.    1.    2. ]]

In [8]:
#seperating true labels from the data

stroke_train_labels = stroke_train[:,-1]
stroke_test_labels = stroke_test[:,0:-1]

diabetes_train_labels = diabetes_train[:,-1]
diabetes_test_labels = diabetes_test[:,0:-1]

heart_train_labels = heart_train[:,-1]
heart_test_labels = heart_test[:,0:-1]

In [9]:
#specifying the number of features
stroke_train_features = stroke_train[:,0:-1]
stroke_test_features = stroke_test[:,0:-1]

diabetes_train_features = diabetes_train[:,0:-1]
diabetes_test_features = diabetes_test[:,0:-1]

heart_train_features = heart_train[:,0:-1]
heart_test_features = heart_test[:,0:-1]

In [10]:
#printing thhe true labels

print("stroke training labels")
print(stroke_train_labels.shape)
print("stroke testing labels")
print(stroke_test_labels.shape)
print("diabetes training labels")
print(diabetes_train_labels.shape)
print("diabetes testing labels")
print(diabetes_test_labels.shape)
print("heart training labels")
print(heart_train_labels.shape)
print("heart testing labels")
print(heart_test_labels.shape)

stroke training labels
(300,)
stroke testing labels
(4810, 11)
diabetes training labels
(300,)
diabetes testing labels
(468, 8)
heart training labels
(300,)
heart testing labels
(2, 11)

In [11]:
import tensorflow as tf

model = tf.keras.models.Sequential()
model.add(tf.keras.layers.Input(shape=(8,)))
model.add(tf.keras.layers.Dense(8, activation='relu'))
model.add(tf.keras.layers.Dropout(0.2))
model.add(tf.keras.layers.Dense(8, activation='relu'))
model.add(tf.keras.layers.Dropout(0.2))
model.add(tf.keras.layers.Dense(1, activation='sigmoid'))
model.compile(optimizer='sgd',loss='binary_crossentropy',metrics=['accuracy'])

#fitting the model for storke dataset
model.fit(stroke_train_features, stroke_train_labels, epochs=100,validation_data=(stroke_test_features, stroke_test_labels))

#fitting the model for diabetes dataset
model.fit(diabetes_train_features, diabetes_train_labels, epochs=100,validation_data=(diabetes_test_features, diabetes_test_labels))

#fitting the model for heart dataset
model.fit(heart_train_features, heart_train_labels, epochs=100,validation_data=(heart_test_features, heart_test_labels))

#for now we have layed out the base of our program with training our model on diffrent disease datasets
#now the next step will be to polish out the datasets even more and get a more generic dataset that we can train our model with